@import "../../App.scss";
.singleMovie {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;
    @include desktop {
        width: 100%;
        gap: 0 20px;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        max-width: 1200px;
        grid-template-areas: "poster header" "poster content";
    }

    &__content {
        align-self: flex-start;
    }
    p {
        font-family: 'Montserrat', sans-serif;

    }
    .infoSection {
        width: 90vw;
        margin-bottom: 10px;
        @include desktop {
            grid-area: header;
            align-self: flex-end;
            width: 100%;
        }
        &__title {
            margin-bottom: 10px;
            width: fit-content;
            font-size: clamp(35px, 5vw, 60px);
            color: rgb(221, 221, 221);
            font-family: 'Bubblegum Sans', cursive;
        }
        &__director {
            font-size: clamp(15px, 2vw, 20px);
            background-color: rgba(0, 0, 0, 0.527);
            padding: 5px 10px;
            border-radius: 5px;
            width: fit-content;
            margin-bottom: 5px;
        }
        &__writers {
            font-size: clamp(15px, 2vw, 20px);
            background-color: rgba(0, 0, 0, 0.527);
            padding: 5px 10px;
            border-radius: 5px;
            width: fit-content;
            max-width: 500px;
        }
    }

    .posterSection {
        background-color: rgba(0, 0, 0, 0.527);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 3px;
        width: fit-content;

        @include desktop {
            grid-area: poster;
            width: 100%;
            max-width: 500px;
        }
        &__poster {
            width: 90vw;
            height: 90vw;
            object-fit: cover;
            max-width: 500px;
            max-height: 500px;
            // border: 3px solid black;
            @include desktop {
                width: 100%;
                max-height: none;
                height: fit-content;
                object-fit: contain;
            }
        }

        &__times {
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            padding: 0 10px 5px 10px;
            font-size: clamp(15px, 2vw, 20px);

        }

        
    }

    .movieMain {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin-bottom: 20px;
        @include desktop {
            margin-bottom: 10px;
        }

        &__description {
            margin: 10px 0;
            width: 90vw;
            max-width: 500px;
            font-size: clamp(15px, 2vw, 20px);
        }
        .ratings {
            align-items: flex-start;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            p {
                text-align: center;
            }
            .rating {
                .score {
                    font-size: clamp(25px, 5vw, 35px);
                }
            }
            &__metascore {
                .score {
                    color: rgb(0, 168, 22)
                }
            }

            &__imdbRating {
                .score {
                    color: rgb(255, 187, 0);
                }
            }
        }  
    }

    .userRating {
        margin-bottom: 50px;
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .rating__heading {
            font-size: clamp(30px, 5vw, 45px);
            font-family: 'Bubblegum Sans', cursive;
            color: white;
            
        }
        &__wrapper {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
            svg {
                height: 40px;
                stroke: yellow;
                stroke-width: 20px;
                font-size: 30px;

            }
        }
    }

    .userRatingWrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .userRating {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .userDescription__p {
                max-width: 80%;
                text-align: center;
                margin-bottom: 10px;
                font-style: italic;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }
        }

        .userRatingBTN {
            background-color: #585858;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.603);
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            cursor: pointer;
            
        }


        .userRatingForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            select {
                font-family: 'Montserrat', sans-serif;
                height: unset;
                width: fit-content;
                color: white;
                border-radius: 4px;
                background-color: #4e4e4e;
                padding: 5px 10px;
                @include desktop {
                    height: 40px;
                }
            }
            textarea {
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                background-color: #4e4e4e;
                color: white;
                font-weight: 500;
                padding: 5px 10px;
                height: 70px;
                width: 80%;
                resize: none;
                border-radius: 5px;
                &::placeholder {
                    color: rgb(165, 165, 165);
                }
            }
        }
    }

    
    p {
        color: rgb(150, 150, 150);
        font-weight: 500;
        span {
            font-weight: 600;
        }
    }
}